<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/21361/IdeaProjects/PageObject">
    <classes>
            <class name="tests.signUp.SignUPTest"/>
        <class name="tests.signUp.SignInTest"/>
        </classes>
    </test>
</suite>